__pycache__/
*.py[cod]
*$py.class


env/
venv/
.venv/
ENV/
env.bak/
venv.bak/


.env
.env.*
!.env.example


build/
dist/
*.egg-info/
.eggs/


*.log


.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.nox/

.ipynb_checkpoints/

.vscode/
.idea/
*.iml


.DS_Store
Thumbs.db


instance/
.webassets-cache


*.sqlite3

*.spec
